@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

    <div class="row">
        <div class="col s6 m3">
            <div class="card">
                <div class="card-content light-green">
                    <span class="card-title">Geeks</span>
                    <ul id="geekList" class="collection"></ul>
                </div>
            </div>
        </div>

        <div class="col s6 m3">
            <div class="card">
                <div class="card-content blue-grey">
                    <span class="card-title">Skills</span>
                    <ul id="skillList" class="collection"></ul>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card">
                <div class="card-content red">
                    <span class="card-title">Add User</span>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        
    </div>




