<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Geek Registration System</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/materialize.js"></script>
    <script src="~/Scripts/app.js"></script>
    <link href="~/Styles/materialize.css" rel="stylesheet" />
    <link href="~/Styles/styles.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body id="main">
    <h1>@ViewBag.Title - Geek Registration System</h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>
<script>
    $('select').formSelect();

</script>